!!!
%html
  %head
    %title Multiplayer Ruby
    %link{:rel => 'stylesheet', :href => '/stylesheets/style.css', :type => 'text/css'}
    %script{:src => '/javascripts/jquery.js', :type => 'text/javascript'}
    %script{:src => '/javascripts/ruby.js', :type => 'text/javascript'}

  %body
    = yield
